<!DOCTYPE html>
<html>
<head>
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="sign-up.component.css">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-body">
				<form #signUpForm="ngForm" (ngSubmit)="signUpUser()">
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input [(ngModel)]="user.firstName" type="text" class="form-control" placeholder="first name" name="firstName">
                        <input [(ngModel)]="user.lastName" type="text" class="form-control" placeholder="last name" name="lastName">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend" id="needMargin">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input [(ngModel)]="user.email" type="text" class="form-control" placeholder="email" name="email"
                        required #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input [(ngModel)]="user.password" type="password" class="form-control" placeholder="password" name="password"
                        required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
					</div>
					<div class="form-group">
						<button [disabled]="signUpForm.form.invalid" type="submit" class="btn float-right signUp_btn">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>

